mat-grid-tile {
  background: white;
}
mat-grid-list {
  margin-left: 1rem;
  margin-right: 1rem;
}
.content {
  padding: 16px;
}

.content > mat-card {
  margin-bottom: 16px;
}

.tileImage {
  height: 15rem;
}
mat-card {
  height: auto;
}
.header {
  justify-content: space-between;
  padding: 0;
}
.titleName,
.titleIcon {
  display: inline-block;
  align-content: center;
}
.icon {
  display: inline-block;
  margin-right: 1rem;
}
.mdc-card__actions {
  justify-content: flex-end;
}
.mat-mdc-card-content {
  padding: 0;
  margin: 6px 0 6px 6px;
}
mat-card-content {
  // display: flex;
  // justify-content: center;
  margin: 2rem;
  padding-bottom: 0px !important;
}
