
.header {
    display: flex;
    justify-content: space-between;
  }
  
  .logo,
  .login,
  .sell,
  .userName,
  .user{
    display: inline-block;
    margin-right: 2rem;
  }
  
  .appLogo,
  .actionButtons {
    display: flex;
    align-items: center;
  }
  .login{
    background-color: #80808052;
  }
  .sell{
    text-decoration-line: none;
  }
  .userName{
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 6px;
  }