<div class="header">
  <div class="appLogo">
    <img class="logo" src="../assets/logo.png" (click)="toHome()" />
  </div>
  <div class="actionButtons">
    <button
      *ngIf="login"
      mat-stroked-button
      class="login"
      (click)="toLoginPage()"
      mat-button
    >
      Login
    </button>
    <div *ngIf="userName" class="userName">User Name</div>
    <!-- <mat-divider class="divider" [vertical]="true"></mat-divider> -->
    <a *ngIf="sell" href="/sellerlogin" class="sell">Want to sell? </a>
    <div *ngIf="user" class="user">
      <mat-icon >account_circle</mat-icon>
    </div>
  </div>
</div>
<mat-divider *ngIf="divider"></mat-divider>
