<div class="appLogo">
  <img class="logo" src="../assets/logo.png"  (click)="toHome()"/>
</div>
<div>
  <p class="title">Log In</p>
</div>
<div class="loginCard">
  <mat-card>
    <mat-card-title></mat-card-title>
    <mat-card-content>
      <form formGroup="form" ngSubmit="submit()">
        <mat-form-field>
          <input
            type="text"
            matInput
            placeholder="Email"
            formControlName="email"
          />
        </mat-form-field>

        <mat-form-field class="pwd">
          <input
            type="password"
            matInput
            placeholder="Password"
            formControlName="password"
          />
        </mat-form-field>
 
        <div class="forgotLink">
          <a href="/">Forgot Password?</a>
        </div>
        <div class="button">
          <button type="submit" mat-button class="btnLogin">Login</button>
        </div>
        <div class="registerLink">
          <a href="/register">New User? Click here to Register</a>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
