mat-grid-tile {
  background: white;
  width: 100px;
}
.loginCard{
    display: flex;
    justify-content: center;
}
.mat-form-field {
  width: 100%;
  min-width: 300px;
}

mat-card-content {
  display: flex;
  justify-content: center;
}

.button {
  display: flex;
  justify-content: flex-end;
}
