// :host {
//     display: block;
//     background: #fff;
//     border-radius: 8px;
//     padding: 8px 16px;
//   }

.cartBox {
  background-color: white;
  height: 500px;
  border-radius: 8px;
}
.cartFlex{
  margin-top: 10px;
}
.img {
  width: 5rem;
  height: 5rem;
}
.cartHeader {
  height: 10%;
  background-color: #80808052;
  font-size: x-large;
  align-content: center;
}
.card {
  display: flex;
  justify-content: space-between;
}
.cardContent {
  display: flex;
  align-items: center;
}
.image{
  flex-grow: 2;
}
.product,
.price {
  flex-grow: 4;
}
