
<div class="header">
  <app-header [divider]="false"></app-header>
</div>
<div>
  <p class="title">Seller Register</p>
</div>
<div class="registerCard">
  <mat-card>
    <mat-card-title></mat-card-title>
    <mat-card-content>
      <form [formGroup]="registerData"  #formDirective="ngForm" (ngSubmit)="onRegister(formDirective)">
        <div>
          <mat-form-field>
            <input
              type="email"
              matInput
              placeholder="Email"
              id="email"
              formControlName="email"
            />
            <mat-error *ngIf="registerData.get('email')?.hasError('required')">
              Email is required
            </mat-error>
            <mat-error *ngIf="registerData.get('email')?.hasError('email')">
              Please enter a valid email
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input
              type="text"
              matInput
              placeholder="Name"
              id="S_Username"
              formControlName="S_Username"
            />
            <mat-error
              *ngIf="registerData.get('S_Username')?.hasError('required')"
            >
              Username is required
            </mat-error>
            <mat-error
              *ngIf="registerData.get('S_Username')?.hasError('minlength')"
            >
              Username must be at least 3 characters
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field>
            <input
              type="password"
              matInput
              placeholder="Password"
              id="S_Password"
              formControlName="S_Password"
            />
            <mat-error
              *ngIf="registerData.get('S_Password')?.hasError('required')"
            >
              Password is required
            </mat-error>
            <mat-error
              *ngIf="registerData.get('S_Password')?.hasError('minlength')"
            >
              Password must be at least 8 characters
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input
              type="password"
              matInput
              placeholder="Conform Password"
              id="c_Password"
              formControlName="c_Password"
            />
            <mat-error *ngIf="registerData.hasError('passwordMismatch')">
              Passwords do not match
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <textarea
              type="address"
              matInput
              placeholder="Address"
              id="address"
              formControlName="address"
            >
            </textarea>
            <mat-error
              *ngIf="registerData.get('address')?.hasError('required')"
            >
              Address is required
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="fill" [hideRequiredMarker]="hideRequired">
            <mat-label>State</mat-label>
            <mat-select
              (selectionChange)="onStateChange()"
              id="state"
              formControlName="state"
            >
              <mat-option *ngFor="let state of states" [value]="state.name">
                {{ state.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="registerData.get('state')?.hasError('required')">
              State is required
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="fill" [hideRequiredMarker]="hideRequired">
            <mat-label>District</mat-label>
            <mat-select id="city" formControlName="city">
              <mat-option *ngFor="let city of cities" [value]="city">
                {{ city }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="registerData.get('city')?.hasError('required')">
              City is required
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input
              type="text"
              matInput
              placeholder="Pincode"
              id="pincode"
              formControlName="pincode"
            />
            <mat-error
              *ngIf="registerData.get('pincode')?.hasError('required')"
            >
              Pincode is required
            </mat-error>
            <mat-error
              *ngIf="registerData.get('pincode')?.hasError('pattern')"
            >
              Pincode must have only 6 digits
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input
              type="contact"
              matInput
              placeholder="Contact"
              id="contact"
              formControlName="contact"
            />
            <mat-error
              *ngIf="registerData.get('contact')?.hasError('required')"
            >
              Contact is required
            </mat-error>
            <mat-error
              *ngIf="registerData.get('contact')?.hasError('pattern')"
            >
              Contact must have only 10 digits
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="fill" [hideRequiredMarker]="hideRequired">
            <mat-label>Business Category</mat-label>
            <mat-select id="category" formControlName="category">
              <mat-option *ngFor="let category of categories" [value]="category">
                {{ category }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="registerData.get('category')?.hasError('required')">
              Category is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="button">
          <button type="submit" class="regBtn" mat-button [disabled]="registerData.invalid">
            Register
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
