// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$middleman-primary: mat.define-palette(mat.$indigo-palette);
$middleman-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$middleman-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$middleman-theme: mat.define-light-theme(
  (
    color: (
      primary: $middleman-primary,
      accent: $middleman-accent,
      warn: $middleman-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($middleman-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  background-image: linear-gradient(147deg, #f1f3ee 0%, #e6ffce 100%);
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";

.logo {
  width: 5rem;
  cursor: pointer;
}
.title {
  font-family: "Times New Roman", Times, serif;
  font-size: 32px;
  text-align: center;
  font-weight: 200;
  margin-bottom: 2rem !important;
}

.mdc-line-ripple {
  display: none;
}
.mdc-text-field {
  border-radius: 4px !important;
}
mat-grid-tile {
  background: white;
  width: 100px;
}

mat-card-content {
  // display: flex;
  // justify-content: center;
  margin: 2rem;
  padding-bottom: 0px !important;
}

.button {
  display: flex;
  justify-content: center;
  .mat-mdc-button {
    background-color: #80808052;
  }
}
.header {
  margin: 1rem 0 1rem 0;
}
@media only screen and (min-device-width: 340px) and (max-device-width: 540px) {
  .logo {
    width: 3rem;
  }
  .login {
    font-size: x-small !important;
    height: auto !important;
    margin-right: 1rem !important;
  }
  .sell {
    font-size: x-small;
    margin-right: 1rem !important;
  }
  .header {
    margin: 0.5rem 0 0.5rem 0;
  }

  .searchBox {
    width: auto !important;
    font-size: x-small !important;
  }
  .searchInput {
    height: auto !important;
  }
  .mdc-text-field--filled {
    height: 40px !important;
  }
  .mdc-text-field--no-label .mat-mdc-form-field-infix {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
  }
  .title{
    font-size: 24px;
  }
}
